.dashbord{
    display: grid;
    grid-template-areas: "header header header"
    "aside main main"
    "footer footer footer";

    grid-template-columns: 1fr 2fr 2fr; 
    gap: 10px;
    padding: 10px;
    background-color: lightblue;
    text-align: center;
}
header{
    grid-area: header;
    background: lightcyan;
    padding: 20px;
}
aside{
    grid-area: aside;
    background: lightcyan;
    padding: 20px;

}
main{
    grid-area: main;
    background: lightcyan;
    padding: 20px;
}

footer{
    grid-area: footer;
    background: lightcyan;
    padding: 20px;

}