body{
    font-size: 1rem;
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.box{
    background: lightblue;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
@media(min-width: 600px){
    body{
        font-size: 1.2rem;
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px){
    body{
        font-size: 1.4rem;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}