.product-card{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: antiquewhite;
} 
.product-card :hover{
    transform: scale(1.05);
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from{ opacity: 0;}
    to{ opacity: 1;}
}

.card{
    align-items: center;
    background-color: white;
    justify-content: center;
    width: 200px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;

}
.card .img {
    align-content: center;
}
@media (max-width:600px){
    .cards{
        flex-direction: column;
    }
}
