.container {
    text-align: center;
    background-color: aqua;

}
.p2 {
                color: green;
                font-size: 20px;
                font-style: italic;
            }
body{
    background: lightpink;
}