.profile-card{
    width: 200px;
    height: 120px;
    border: 3px solid blue;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightblue;
}