nav {
    position: sticky;
    top: 0;
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}
header{
    position: sticky;
    top: 60px;
    background: gray;
    padding: 5px;
    text-align: center;
    z-index: 500px;
}
button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    right: 20px;
    padding: 20px;
    background: lightcoral;
    color: white;
    border: 5px solid pink;
    cursor: pointer;
    z-index: 1500px;
}
